button {
  all: unset;
  background: $color-secondary;
  border-radius: 1.2em;
  color: $color-tertiary;
  font-size: .85rem;
  font-weight: $bold-font-weight;
  margin: 0.3rem 0.6rem 0.3rem 0;
  padding: .6rem .7rem;

  &:hover,
  &.active {
    background: $color-tertiary;
    color: $white;
    cursor: pointer;
  }

  &:hover.active {
    background: darken($color-tertiary, 30);
  }
}