body {
  background: $color-background-primary;
}

h1, h2 {
  color: $black;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: $color-tertiary;

  &:link,
  &:hover {
    color: $black;
  }

  &:focus {
    color: $color-primary;
    outline: 1px solid $black;
  }
}

strong {
  font-weight: $bold-font-weight;
}