

.App {
  font-family: $font-primary;
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.hashtags {
  background: $white;
  box-shadow: $box-shadow;
  margin: 1.2rem 0;
  padding: 1.2rem;

  h2 {
    margin: 0;
    padding: 0.6rem;
  }
}

.tweets-container {
  margin: 1.2rem 0 2.6rem;
  padding: 1.2rem;

    .search-container {
      background: $white;
      box-shadow: $box-shadow;
      margin: 1.2rem 0;
      padding: 0.6rem .2rem;

      button {
        background: $white;
        color: lightgray;
        float: left;
        margin: 0;
        padding: 0.2rem;

        &:hover {
          color: darkgray;
        }
      }
    }

    input[type="text"] {
      border: none;
      color: $black;
      width: calc(100% - 60px);

      &:focus {
        outline: none;
      }
    }

  .tweets-wrapper {
    box-shadow: $box-shadow;
  }

  .empty-results {
    padding: .6rem;
    color: gray;
  }

  footer {
    background: $white;
    padding: .6rem;
    text-align: center;

    button {
      background: none;

      &:hover {
        color: darken($color-secondary, 70);
      }
    }
  }

  @media screen and (min-width: $breakpoint-initial) {

    .tweets-grid {

      &:after {
        content: "";
        clear: both;
        display: table;
      }

      & > div {
        float: left;
        width: 72%;

        &:nth-child(2) {
          float: right;
          width: 25%;
        }
      }
    }
  }
}

.tweet {
  display: flex;
  justify-content: space-between;
  margin: 0 0 .6rem 0;
  padding: .2rem;

  &:nth-child(odd) {
    background: $white;
  }
  &:last-of-type {
    margin-bottom: 0;
  }

  .avatar-container {
    padding: .6rem;
    width: 60px;
  }

  .tweet-content {
    padding: .6rem;
    width: calc(100% - 60px);
  }

  img.avatar {
    border-radius: 50%;
    height: 48px;
    margin-right: 10px;
    width: 48px;
  }

  .screen-name {
    padding: .2rem 0 .6rem;

    a {
      color: $black;
      font-weight: $bold-font-weight;
    }
  }

  .tags {
    padding: .6rem 0;
  }
}

// Loader
.loader-container {
  background: rgba(255, 255, 255, .85);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99;
}

.loader {
  animation: loaderSpin 1.5s linear infinite;
  border: 10px solid lightgray;
  border-top-color: $color-tertiary;
  border-radius: 50%;
  height: 40px;
  margin: calc(50vh - 20px) auto 1.2rem;
  width: 40px;
}

@keyframes loaderSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
