@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

// Colors
$black: #25383f;
$white: #fff;

$color-primary: orange;
$color-secondary: #E7f3FA;
$color-tertiary: #5391c2;

$color-background-primary: #F8F9F9;

// Fonts
$font-primary: 'Roboto', sans-serif;

// Font Weight
$bold-font-weight: 600;

// Breakpoints
$breakpoint-initial: 760px;

// Misc
$box-shadow: 0 1px 3px #bbb;